$textcolor-smooth: #FFEACF;
$colorBeige: #A5988F;
$colorMarron: #71655D;
$colorGreen: #005B48;
$colorHover: rgb(34, 146, 72);
$backgroundInactive: rgb(145, 145, 145);
$under17active: rgb(219, 142, 26);
$under18active: rgb(226, 194, 14);
$under25active: rgb(16, 167, 23);
$under30active: rgb(168, 73, 73);
$under35active: rgb(187, 62, 62);
$under40active: rgb(214, 59, 59);
$above40active: rgb(255, 0, 0);



